<!-- Vista de Inicio -->
<div class="inicio-content">
  <!-- Título principal -->
  <div class="welcome-title">
    <h1>Bienvenido a Ubuntu Jóvenes Voluntarios Perú</h1>
    <h2>Juntos construimos comunidades más solidarias :) </h2>
  </div>

  <!-- Banner -->
  <div class="banner-container">
    <img src="assets/img/banner-ubuntu.jpg" alt="Banner Ubuntu" class="banner-image">
  </div>

  <!-- Misión y Visión -->
  <div class="mision-vision-container">
    <!-- Misión -->
    <div class="mision-section">
      <div class="mision-content">
        <div class="mision-text">
          <h2>Misión</h2>
          <p>Nuestra misión es formar jóvenes líderes comprometidos con el desarrollo social de sus comunidades, promoviendo valores de solidaridad, inclusión y trabajo colaborativo para construir un Perú más justo y equitativo.</p>
          <br>
          <p>Promover la participación activa de los jóvenes en iniciativas sociales y comunitarias en Perú, fomentando la solidaridad, el voluntariado y el desarrollo de valores humanos que contribuyan al bienestar de nuestra sociedad</p>
        </div>
        <div class="mision-image">
          <img src="assets/img/mision.jpg" alt="Misión Ubuntu" class="section-image">
        </div>
      </div>
    </div>

    <!-- Visión -->
    <div class="vision-section">
      <div class="vision-content">
        <div class="vision-image">
          <img src="assets/img/vision2.jpg" alt="Visión Ubuntu" class="section-image">
        </div>
        <div class="vision-text">
          <h2>Visión</h2>
          <p>Ser la organización líder en el desarrollo de jóvenes voluntarios en el Perú, reconocida por su impacto positivo en las comunidades y por formar ciudadanos comprometidos con el bien común y el desarrollo sostenible del país.</p>
          <br>
          <p>Ser una organización reconocida a nivel nacional por inspirar y empoderar a los jóvenes para generar un impacto positivo y sostenible en sus comunidades, creando una cultura de responsabilidad social y colaboración</p>
        </div>
      </div>
    </div>
  </div>
</div>